.wrapper {
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    text-align: center;
    vertical-align: middle;
    margin-right: 0.5rem;
    cursor: pointer;
    font-size: var(--bs-font-size);
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius)
}

.primary {
    color: var(--bs-white-rgb);
    background-color: var(--bs-red);
    border-color: var(--bs-red)
}

.warning {
    background-color: var(--bs-warning);

}