.wrapper {
  height: 100vh;
}

.myShadow {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
      }
  }
  @media (min-width: 992px) {
    
  }