.hr {
  opacity: 0.1;
}

.inputGroupPrepend {
  margin-right: -1px;
}

.inputGroupText {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

.icon {
  font-size: 1.333333rem;
  line-height: .75rem;
  font-weight: 400;
}

.formGroup {
  margin-bottom: 1rem;
}

.myColor {
  background-image: linear-gradient(to right, #f83600 50%, #f9d423 150%);
}

.myHr {
  height: 2px!important;
  border-radius: 100px;
  background-color: #f8f9fa!important;
  opacity: 1;
}

